*{
 margin: 0;
 font-family: 'Yanone Kaffeesatz', sans-serif;
}
   
body{
 background-color: rgb(255, 255, 255);
}
   
header{
 background-color: rgba(24, 128, 128, 0.589);
 display: flex;
 justify-content:space-evenly;
 align-items: center;
 
}
   
header img{
 width: 50px;
 height: 50px;
 padding-right: 10px;
}
   
header p{
 padding-right: 20px;
 font-weight: 600;
 font-size: 20px;
}
   
.crud{
 display: flex;
 align-items: center;
}
   
.crud h1{
 font-size: 30px;
}
   
.crud a{
 text-decoration: none;
 color: black;
}
   
   
#logopelis{
 width: 500px;
 height: 250px;
 margin-top: 100px;
 margin-bottom: 100px;
}
   
aside{
 display: flex;
 align-items: center;
 justify-content: center;
}

article{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

article h2{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 8px;
}

.star{
    font-size: 20px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked{
    color: gold;
}
   
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-left: 10px;
}

fieldset{
  padding-top: 40px;  
 padding-left: 70px;
 padding-right: 70px;
 padding-bottom: 50px;
}

.col-md-12{
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

hr{
 margin: 30px;
}
   
footer{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-bottom: 40px;
}
   